**#index.rst#
**.#index.rst
**.NO
**.NO
**.acn
**.acr
**.alg
**.aux
**.backup
**.bak
**.bbl
**.bcf
**.blg
**.dep
**.docx
**.dvi
**.fdb_latexmk
**.fls
**.glg
**.glo
**.gls
**.glsdefs
**.ist
**.log
**.maf*
**.mtc*
**.nav
**.odt
**.orig
**.rtf
**.run.xml
**.snm
**.tar
**.text
**.toc
**.tdo
**.warnings
**.xdv
**/*~
**detexed
*.stats
.vscode/
_stats
build/**
dep.list
tmp
**Tesi.pdf
